<div class="flex flex-col bg-red-200 rounded-lg p-4 border-2 border-slate-800">
  <span class="italic font-light text-xs"><%= todo.category.name %></span>
  <span class="text-xl font-bold"><%= todo.name %></span>
</div>