<div class="w-4/5 sm:w-1/5 h-auto fixed top-[4rem] right-[1rem] z-30 ">
  <% flash.each do |type, message| %>
    <% if type == "notice" %>
      <div class="py-2 px-4 bg-green-50 mb-5 text-green-500 font-medium rounded-lg shadow-md">
        <%= message %>
      </div>
    <% else %>
      <div class="py-2 px-4 bg-red-50 mb-5 text-red-500 font-medium rounded-lg shadow-md">
        <%= message %>
      </div>
    <% end %>
  <% end %>
</div>