<div class="absolute top-20 right-4 z-30 ">
  <% flash.each do |type, message| %>
    <% if type == "notice" %>
      <div class="notifcation py-2 px-4 bg-green-50 mb-5 text-green-500 font-medium rounded-lg shadow-md">
        <%= message %>
      </div>
    <% else %>
      <div class="notifcation py-2 px-4 bg-red-50 mb-5 text-red-500 font-medium rounded-lg shadow-md">
        <%= message %>
      </div>
    <% end %>
  <% end %>
</div>